Cython
Jinja2
MarkupSafe
Pygments
Sphinx
certifi
decorator
docutils
husl
ipdb
ipycache
ipython
joblib
matplotlib
mongoengine
moss
networkx
neurolab
nose
numpy
pandas
patsy
pymongo
pyparsing
python-dateutil
pytz
pyzmq
redis
scikit-learn
scipy
seaborn
six
sklearn-pandas
statsmodels
sympy
tornado
wheel
